* {
  padding: 0;
  margin: 0;
  background: #f6f7fb;
  /*outline: red solid 1px;*/
}
body {
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 0.5em 0.5em 0.1em 0.5em;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Poppins";
}
.header {
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  font-size: 24px;
}
.search {
  display: flex;
  background-image: url("../backgroundImg.png");
  width: 100%;
  height: 18vh;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.material-icons {
  background: transparent;
  margin-right: 50%;
  position: absolute;
  color: #b9bdcf;
}
.searching {
  width: 63%;
  height: 8vh;
  border-radius: 4px;
  font-size: 12px;
  padding-left: 40px;
  border: none;
  outline: none;
}
.searching::placeholder {
  color: #b9bdcf;
}
.button-search {
  background: #1480fc;
  position: absolute;
  width: 10.5%;
  height: 7.5%;
  border-radius: 4px;
  color: white;
  margin-left: 21.2%;
  border: none;
  outline: none;
  font-size: 16px;
}
.button-search:hover {
  background: #0f63c2;
  transition: 0.5s;
}
.main {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}
.filter {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #334680;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.location {
  color: #b9bdcf;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}
.location input[type="text"] {
  width: 80%;
  height: 7vh;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 12px;
  padding-left: 50px;
}
.world {
  position: absolute;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
}
.location input[type="text"]::placeholder {
  color: #b9bdcf;
}
.check {
  font-weight: normal;
  margin-left: 10px;
  color: #334680;
  font-size: 14px;
  line-height: 21px;
}
.list {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.card {
  width: 98.5%;
  height: 16vh;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
}
.card img {
  border-radius: 4px;
  width: 5rem;
  height: 5rem;
}
.card .date {
  background: transparent;
  width: 85%;
  height: 5rem;
}
.pagination {
  margin-left: 58.5%;
  height: 2.5rem;
  width: 42.5%;
  display: flex;
  justify-content: space-around;
}
.pagination a {
  display: flex;
  color: #b9bdcf;
  width: 36px;
  height: 36px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #b7bcce;
  margin: 1px;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.pagination a:hover {
  border: 1px solid #1e86ff;
}
.pagination a.active {
  background-color: #1e86ff;
  color: white;
}
footer {
  display: flex;
  width: 100%;
  height: 10vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}
